@model WebClientt.Models.ProductsModel

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.SecUrun.UrunId)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.SecUrun.UrunId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.SecUrun.UrunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.SecUrun.UrunAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.SecUrun.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.SecUrun.KategoriAd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.SecUrun.TedarikciId)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.SecUrun.TedarikciId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.SecUrun.BirimFiyat)
        </dt>

        <dt>
            @Html.DisplayFor(model => Model.SecUrun.BirimFiyat)
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
